<div class="header-container">
  <img class="header-img" src="/images/maps-header.png">
</div>

<div class="container-fluid">
<div class="row">
  <div class="col-lg-5 mt-3">

<form class="flex-container" action="/contact-us" method="POST">
 <ul class="list-unstyled">

     <li class="open-sans-md">Get in touch. </li>
     <li class="form-text">Fill out the form and our team will be in touch in 24 hours.</li>

    <li class="form-text"><%= styled_flash %> </li>

     <li> <input type=”text” name="name" class="user-input" placeholder="name"> </li>
     <li> <input type="email" name="email" class="user-input" placeholder="email"> </li>
     <li> <textarea name="message" placeholder="remember, be nice!" class="user-input"></textarea></li>
     <li><input type="submit" class="btn btn-dark" value="Submit"></li>
 </ul>
</form>

  </div>
    <div class="col-lg-7">
      <iframe
        width="100%"
        height="600px"
        frameborder="0" style="border:0" class="float-left"
        src="https://www.google.com/maps/embed/v1/place?key=<%=ENV['GOOGLE_MAPS_API_KEY']%>&q=Friendly+Bakery,NYC+NY" allowfullscreen>
      </iframe>
    </div>
    </div>



</div>
