<!DOCTYPE html>
<html>

  <head>
    <title>TFB!</title>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/css/uikit.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit-icons.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

  </head>

  <body>
    <div class="sidenav">
      <a href="/"><img src="images/logo.png" alt="logo"></a>
      <div class="nav-font">
        <a href="#about">about us</a>
        <a href="#services">catering</a>
        <a href="#clients">gallery</a>
        <a href="#contact">recipes</a>
      </div>
      <div class="sub-nav-font">
        <a href="/cupcakes">CUPCAKES</a>
        <a href="/cookies">COOKIES</a>
        <a href="/cakes">CAKE</a>
        <a href="#">MORE</a>
      </div>
    </div>
    <div class="sidenav sub-sidenav">
      <div class="md-box">
        <span class="sm-font">Find a Bakery</span>
        <span class="md-font">STORE OPENING TIMES
        </span>
        <div class="arrow-right"></div>
      </div>
      <div class="md-box sm-box">
        <span class="sm-font">Join Our Mailing List</span>
      </div>
      <div class="md-box sm-box flex-between">
        <a href="" class="uk-icon-button" uk-icon="yelp"></a>
        <a href="" class="uk-icon-button" uk-icon="twitter"></a>
        <a href="" class="uk-icon-button" uk-icon="facebook"></a>
        <a href="" class="uk-icon-button" uk-icon="instagram"></a>
      </div>
    </div>
    <div class="main">
      <%= yield %>
    </div>

  </body>

</html>
