<!DOCTYPE html>
<html>
  <head>
    <title>The Friday Bakery</title>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/css/uikit.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit-icons.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  </head>
  <body>
    <div class="sidenav">
      <a href="/"><img class="resize" src="images/logo.png" alt="logo"></a>
      <div class="nav-font ml-1">
        <a href="/aboutus">about us</a>
        <a href="/catering">catering</a>
        <a href="/gallery">gallery</a>
      </div>

      <div class="sub-nav-font ml-1">
        <div class="uk-animation-toggle">
          <a class="uk-animation-slide-right-medium" href="/cupcakes">CUPCAKES</a>
        </div>
        <div class="uk-animation-toggle">
          <a class="uk-animation-slide-right-medium" href="/cookies">COOKIES</a>
        </div>
        <div class="uk-animation-toggle">
          <a class="uk-animation-slide-right-medium" href="/cakes">CAKES</a>
        </div>
      </div>

    </div>
    
    <div class="sidenav sub-sidenav">
      <a href='/find-a-bakery'>
        <div class="md-box">
          <span class="sm-font">Find a Bakery</span>
          <span class="md-font mt-1">contact us here</span>
        </a>
        <div class="arrow-right"></div>
      </div>
      <div class="md-box sm-box">
        <span class="sm-font">$20 minimum on all orders</span>
      </div>
      <div class="md-box sm-box flex-between">
        <a href="http://www.yelp.com" class="uk-icon-button" uk-icon="yelp"></a>
        <a href="http://www.twitter.com" class="uk-icon-button" uk-icon="twitter"></a>
        <a href="http://www.facebook.com" class="uk-icon-button" uk-icon="facebook"></a>
        <a href="http://www.instagram.com" class="uk-icon-button" uk-icon="instagram"></a>
      </div>
    </div>
    <div class="main">
      <%= yield %>
    </div>
  </body>
</html>
