<div class="header-container">
  <img class="header-img" src="<%=@view_manager.header%>">
</div>
<div class="container-fluid">
  <div class="row mx-0">
    <div class="col-lg-12 ">
      <h2 class="product-type m-1 mt-2"><%=@view_manager.type%></h2>
      <p class="product-type product-md-font m-2 mb-3">
        Made with organic lorem ipsum buttercream
      </p>
    </div>
  </div>
  <div class="row mx-0">
    <% @view_manager.array.each do |item| %>
      <div class="col-lg-4">
        <div>
          <img class="rounded" src="<%=item.img%>" alt="">
          <div class="product-type product-sm-font m-2 mb-3">
          <%=item.name%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
