<div class="header-container">
  <img class="header-img" src="/images/contact-bg.png">
</div>
<div class="container">
  <div class="text-center open-sans">
    We Are Under Construction!
  </div>

</div>
